a {
  text-decoration: none !important;
  color: inherit; }

a:hover {
  color: #6c757d; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

.btn {
  border: none;
  color: #6c757d; }

.btn-bg {
  color: #ffffff;
  background: linear-gradient(to left, #23d5e3, #9149b9); }

.btn-bg:hover {
  color: #ffffff;
  background: linear-gradient(to right, #23d5e3, #9149b9); }

.text-clipped {
  padding: 1px;
  background: linear-gradient(to bottom, #23d5e3, #9149b9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text; }

img {
  width: 100%;
  max-width: 100%; }

section {
  padding-top: 50px; }

.section-heading h1 {
  font-size: 20px;
  font-weight: normal;
  margin: 0; }

.custom-nav-container {
  position: relative;
  z-index: 1500; }
  .custom-nav-container .main-nav-outer {
    width: 250px;
    height: 100vh;
    background-color: #ffffff;
    position: fixed;
    top: 0;
    right: -250px;
    border-left: 5px solid #eee;
    z-index: 1500;
    transition: 650ms all; }
    .custom-nav-container .main-nav-outer .menu-close-icon {
      position: absolute;
      top: 5px;
      left: 10px; }
    .custom-nav-container .main-nav-outer .main-nav .nav-link {
      font-size: 14px;
      text-transform: uppercase; }
  .custom-nav-container .nav-icons-container {
    width: 100%;
    max-width: 125px; }
    .custom-nav-container .nav-icons-container .nav-icons a {
      position: relative; }
      .custom-nav-container .nav-icons-container .nav-icons a .badge {
        position: absolute;
        top: -8px;
        right: -11px;
        background-color: #9149b9;
        color: #ffffff;
        border-radius: 100%; }
    .custom-nav-container .nav-icons-container .nav-icons .dropdown-menu {
      margin-top: 30px;
      margin-left: -220px;
      background-color: #ffffff;
      position: relative; }
      .custom-nav-container .nav-icons-container .nav-icons .dropdown-menu .dropdown-item {
        color: #333; }
    .custom-nav-container .nav-icons-container .nav-icons .dropdown-menu::before {
      position: absolute;
      content: "";
      top: -10px;
      right: 50px;
      width: 20px;
      height: 20px;
      background-color: inherit;
      border: inherit;
      transform: rotate(45deg);
      border-bottom-color: transparent;
      border-right-color: transparent; }
    .custom-nav-container .nav-icons-container .nav-icons .dropdown-toggle::after {
      display: none; }
  .custom-nav-container i {
    font-size: 20px;
    cursor: pointer; }
  .custom-nav-container i:hover {
    opacity: .7; }
  .custom-nav-container .navbar-brand i {
    font-size: 40px; }
  .custom-nav-container .navbar-brand i span {
    font-size: 20px;
    font-family: fantasy;
    font-weight: 100; }

.main-nav-outer.open-menu {
  right: 0; }

.promotion {
  background-color: #333;
  font-size: 14px; }

@media (min-width: 992px) {
  .custom-nav-container .main-nav-outer {
    width: initial;
    height: initial;
    background-color: initial;
    position: initial;
    border: none; }
  .custom-nav-container .nav-icons-container .nav-icons .dropdown-menu {
    margin-left: -265px; }
  .custom-nav-container .nav-icons-container .nav-icons .dropdown-menu::before {
    right: 5px; } }
.carousel {
  z-index: 0; }
  .carousel .carousel-control-next, .carousel .carousel-control-prev {
    position: absolute;
    top: 50%;
    width: 30px;
    height: 30px;
    background-color: #fff;
    opacity: 1; }
  .carousel .carousel-control-next {
    border-top-left-radius: 100%;
    border-bottom-left-radius: 100%; }
  .carousel .carousel-control-prev {
    border-top-right-radius: 100%;
    border-bottom-right-radius: 100%; }

.featured-brand img {
  max-width: 100px;
  max-height: 100px;
  opacity: .7;
  transition: 650ms; }
.featured-brand img:hover {
  opacity: 1; }

.women-collection .hero-img {
  padding: 15px;
  margin: auto; }

.arrivals {
  background-color: #f5f5f5; }
  .arrivals .row .new-arrival-img {
    max-width: 300px;
    margin: auto; }

.services .our-services-icon {
  width: 100px;
  height: 100px;
  background-color: #fff;
  background-clip: padding-box;
  position: relative;
  border: 1px solid transparent;
  border-radius: 100%; }
  .services .our-services-icon i {
    font-size: 40px; }
.services .our-services-icon::before {
  content: "";
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  position: absolute;
  border-radius: inherit;
  margin: -2px;
  background: linear-gradient(to bottom, #23d5e3, #9149B9);
  z-index: -1; }
.services .our-services-description h5 {
  font-size: 16px; }
.services .our-services-description p {
  font-size: 14px; }

footer {
  color: #fff;
  background-color: #151515; }
  footer .row .col-12 .footer-list li {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    margin: 15px 0;
    padding: 5px; }
    footer .row .col-12 .footer-list li .footer-link {
      color: #ffffff !important;
      transition: opacity 650ms; }
    footer .row .col-12 .footer-list li .footer-link:hover {
      opacity: .6; }
  footer .row .col-12 .footer-list li:last-child {
    border: none; }
  footer .row .col-12 .footer-title {
    position: relative; }
    footer .row .col-12 .footer-title h5 {
      text-transform: uppercase;
      color: rgba(255, 255, 255, 0.75); }
    footer .row .col-12 .footer-title .custom-border {
      position: absolute;
      width: 100%;
      height: 1px;
      background-color: rgba(255, 255, 255, 0.1); }
    footer .row .col-12 .footer-title .custom-border::before {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 50%;
      height: 2px;
      background: linear-gradient(to left, #23d5e3, #9149b9); }
  footer .row .line {
    border-top-color: rgba(255, 255, 255, 0.8); }

.my-cart .heading-has-bg {
  background: linear-gradient(to left, rgba(35, 225, 227, 0.7), rgba(145, 73, 185, 0.7)), url("../images/hero/heading-img.jpeg") center no-repeat;
  height: 30vh; }
  .my-cart .heading-has-bg h1 {
    font-family: fantasy;
    color: #fff;
    font-size: 50px;
    text-shadow: 0 0.625rem 1.5rem rgba(0, 0, 0, 0.4); }
.my-cart .cart-item-container {
  position: relative;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); }
  .my-cart .cart-item-container .cart-item-img {
    max-width: 350px; }
  .my-cart .cart-item-container .remove-cart-item {
    position: absolute;
    top: -10px;
    right: -10px;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 10px rgba(255, 255, 64, 0.07);
    box-shadow: 0 0 10px rgba(127, 255, 127, 0.07);
    box-shadow: 0 0 10px rgba(255, 127, 255, 0.07);
    box-shadow: 0 0 10px rgba(79, 236, 236, 0.07); }

/*# sourceMappingURL=main.css.map */
